<div class="buy">
	<a class="buy__button" href="{{ product.detail_page }}" target="_blank">Comprar ahora
		<i class="buy__button__arrow"></i>
	</a>
	<div class="buy__image">
		<img class="buy__image__logo" src="{{ asset('build/images/Amazon_logo.svg')}}" alt="Amazon logo">
	</div>
</div>
