<div class="feature-label--{{ type }}">#{{ rank }}
	{{ text }}
	<div class="feature-label__tail-up"></div>
	<div class="feature-label__tail-down"></div>
	<div class="feature-label__head"></div>
</div>
