<div class="score">
	<p class="score__number">{{ scoreData.score }}</p>
	<div class="score__stars">
		<div class="score__percentage" style="width: {{ scoreData.percentage }}%"></div>
	</div>
	<p class="score__text">"{{ scoreData.text }}"</p>
</div>
