body {
  background: #ebf0fa;
  margin: 2rem;
}

h1,
h2 {
  color: #7856e1;
}

nav {
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 2px solid #e5e7eb;
  display: flex;
  margin: 2.5rem auto;
  max-width: 64rem;
}

.nav__sections {
  align-items: baseline;
  display: flex;
  gap: 1.25rem;
}

.nav__sections a,
.nav__authentication a {
  color: #6b7280;
  text-decoration: none;
}

.nav__sections a:hover {
  color: black;
}
