@import "./constants.scss";
@import "./colors.scss";

* {
  box-sizing: border-box;
}

body {
  background: $background;
  margin: 2rem;
}

body,
nav {
  margin: 2.5rem auto;
  max-width: 64rem;
}

td,
th {
  border: 1px solid $iron-300;
  padding: 0 0.8rem;
}

p {
  margin-top: 0;
}

nav {
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 2px solid $iron-300;
  display: flex;
}

.nav__sections,
.nav__authentication {
  align-items: baseline;
  display: flex;
  gap: 1.25rem;
}

.nav__sections a,
.nav__authentication a {
  color: $iron-600;
  text-decoration: none;
}

.nav__sections a:hover {
  color: black;
}

.login-form {
  margin: 0 auto;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form__title {
  align-self: center;
}

.login-form__form-control {
  height: $form-control-height;
  border-radius: $default-border-radius;
  border: 0.025rem solid $iron-300;
  padding: 0.25rem 0.5rem;
}

.login-form__button {
  height: $form-control-height;
  background-color: $purple;
  border: none;
  border-radius: $default-border-radius;
  color: white;
}
