$background: white;
$purple: #7856e1;
$blue-400: #5676ff;
$blue-700: #0000ff;
$white: white;
$iron-50: #f6f6f6;
$iron-300: #e5e7eb;
$iron-400: #adadad;
$iron-600: #888888;
$butter-cup-300: #facb4a;
$butter-cup-400: #f6ae0b;
$atlantis-400: #8acc42;
$vida-loca-600: #639330;
