@import "./colors.scss";

$form-control-height: 2.5rem;
$default-border-radius: 0.25rem;
$first-column-width: 18%;
$second-column-width: 14%;
$third-column-width: 50%;
$fourth-column-width: 18%;
$column-padding: 0.5rem;
$border: 1px solid $iron-300;
