{% block menu %}
	<nav>
		<div class="nav__sections">
			<h1>Amazon</h1>
			<a href="{{ path('app_home') }}">Home</a>
			<a href="#">Products</a>
		</div>
		<div class="nav__authentication">
			<a href="#">Login</a>
		</div>
	</nav>
{% endblock %}
